body {
    background: url('bg.png') no-repeat center center fixed;
    background-size: auto;
    
}
.carousel-inner img {
    width: 1600px;
    height: 350px;
    object-fit: cover; /* Ensures the image scales properly without distortion */
}
.carousel-inner h1 {
    color: #205781;
    text-align: center;
}
.carousel-inner p {
    color: #0642b1;
    text-align: center;
}
.skills-heading {
    font-family: 'Playfair Display', serif; 
    font-size: 2.5rem; 
    color: #205781; 
    margin-bottom: 1rem; 
    text-align: center;
}
.skills-box {
    background-color: #f7cfff;  
    border-radius: 15px; 
    padding: 15px; 
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.skills-box h4 {
    font-family: 'Playfair Display', serif;
    color: #205781; 
    margin-bottom: 10px;
    font-weight: bold;
}
.skills-box p {
    font-size: 1rem;
    margin: 0;
}